html {
	font-family:
		'Nunito Sans',
		'Segoe UI',
		'Helvetica Neue',
		Arial,
		sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	--light-ui: white;
	--light-background: #edf0f4;
	--light-text: #404552;
	--light-subtle: #8a909c;
	--light-hover: #233850;
	--light-border: #dadee3;

	--dark-ui: #212e3c;
	--dark-background: #1d2125;
	--dark-text: #eeeeef;
	--dark-subtle: #b3b3ba;
	--dark-hover: white;

	--accent: #1e93d9;

	--header-height: 64px;

	--max-page-width: 1280px;
	--max-content-width: 890px;

	background-color: var(--light-ui);
	color: var(--light-text);
}
.dark-mode body {
	--light-ui: var(--dark-background);
	--light-background: var(--dark-background);
	--light-text: #cdcdd5;
	--light-subtle: #8d8d95;
	--light-hover: var(--dark-hover);
	--light-border: #111214;
}

a {
	text-decoration: none;
	color: inherit;
}
.content a {
	text-decoration: none;
	color: var(--accent);
}
.content a:hover {
	text-decoration: underline;
}
h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--light-border);
	text-align: center;
}
h1, h2, h3, h4 {
	margin-top: 6px;
	margin-bottom: 20px;
	font-weight: 400;
}
h1 {font-size: 2.2em;}
h2 {font-size: 1.9em;}
h3 {font-size: 1.7em;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.3em;}

.content {
	font-weight: 300;
}

button {
	appearance: none;
	border: none;
	font-family: inherit;
	font-size: 0.92em;
	cursor: pointer;

	padding: 20px 28px;
	background-color: var(--accent);
	color: var(--dark-hover);
	font-weight: bold;
	text-transform: uppercase;
	margin: 4px 0;
}
input[type=text], input[type=number] {
	appearance: none;
	border: none;
	background-color: transparent;
	border: 1px solid var(--light-border);
	font-size: inherit;
	padding: 8px 12px;
	color: inherit;
	outline-color: var(--accent);
}

code {
	background-color: #f1f3f5;
	padding: 0 4px;
}
.dark-mode code {
	background-color: #263238;
}
pre code {
	background-color: unset;
	padding: unset;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
td, th {
	border: 1px solid var(--light-border);
	padding: 8px;
}


.content ul, .content ol {
	padding-left: 12px;
	line-height: 24px;
	margin-bottom: 30px;
}
.content p {
	line-height: 24px;
	margin-bottom: 15px;
}