html {
	font-family:
		Montserrat,
		'Segoe UI',
		'Helvetica Neue',
		Arial,
		sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	--light-ui: white;
	--light-background: #edf0f4;
	--light-text: #404552;
	--light-hover: #233850;

	--dark-ui: #212e3c;
	--dark-background: #1d2125;
	--dark-text: #eeeeef;
	--dark-hover: white;

	--accent: #3e90ff;

	--header-height: 64px;

	background-color: #ebeef2;
	color: var(--light-text);
}

a {
	text-decoration: none;
	color: inherit;
}
.content a {
	text-decoration: none;
	color: var(--accent);
}
.content a:hover {
	text-decoration: underline;
}
h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
h1, h2, h3, h4 {
	margin-top: 6px;
	margin-bottom: 20px;
}
h1 {font-size: 2.2em;}
h2 {font-size: 1.9em;}
h3 {font-size: 1.7em;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.3em;}

button {
	appearance: none;
	border: none;
	font-family: inherit;
	font-size: 0.92em;
	cursor: pointer;

	padding: 20px 28px;
	background-color: var(--accent);
	color: var(--dark-hover);
	font-weight: bold;
	text-transform: uppercase;
	margin: 4px 0;
}
.content ul, .content ol {
	padding-left: 12px;
	line-height: 24px;
	margin-bottom: 30px;
}
.content p {
	line-height: 24px;
	margin-bottom: 15px;
}